<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website - About </title>

    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Kyle Henry</h1>
    <p>Hi my name is Kyle Henry from St. Vincent and the Grenadines.
        I am currently studying at the University of Mona where I wish to develop my skills in becoming
        a computer engineer. I enjoy writing code!
    </p>
</body>
</html>